/* ./DiningDetails.css */
.dining-details {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 800px; /* Adjust the maximum width as needed */
}

.dining-details img {
  padding:10px;
  border-radius: 20px;
  max-width: 100%;
  height: 500px; /* Set a fixed height for the images */
  object-fit: cover; /* Crop the images to fit the fixed height */
}

.dining-details a {
  font-size: 18px;
  color: #777777;
  text-decoration: none;
  /* margin: 10px 0; */
  display: block; /* Make the link a block element */
}

.dining-details p {
  font-size: 16px;
  margin: 4px 0;
}

.dining-details strong {
  font-weight: bold;
}