/* Navbar.css */
header {
    background: var(--primary); /* Use your primary color variable */
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  .container a {
    text-decoration: none;
    color: white;
    margin-right: 20px; /* Add margin-right for spacing between the links */
  }
  